/*LETRAS*/
@font-face {
  font-family: "Purista_Bold";
  src: url("../font/Purista Bold.otf"); }

@font-face {
  font-family: "Purista_light";
  src: url("../font/Purista Light.otf"); }

@font-face {
  font-family: "Purista";
  src: url("../font/Purista Medium.otf"); }

@font-face {
  font-family: "webSymbols";
  src: url("../font/WebSymbols-Regular.otf"); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-color: #181818; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

.copyright {
  background-color: #00304a;
  background-size: cover;
  height: 5vh;
  width: 100vw; }

/*---------------FIN FONDOS------------------------*/
/*---------------MENU ENCABEZADO-------------------*/
.header-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  height: 6.4rem;
  width: 100%;
  z-index: 9999;
  background-color: #fff; }
  .header-box .head-menu {
    display: flex;
    width: 89%;
    align-items: center;
    justify-content: space-between; }
    .header-box .head-menu .heading--logo {
      padding: 1rem;
      background-color: #317ee2; }
    .header-box .head-menu .heading--menu {
      display: flex;
      flex-grow: 2;
      justify-content: right; }
      .header-box .head-menu .heading--menu nav {
        display: flex;
        justify-content: space-between; }
        .header-box .head-menu .heading--menu nav a {
          font-family: "Purista_Bold", sans-serif;
          font-size: 1.5rem;
          text-transform: uppercase; }
          .header-box .head-menu .heading--menu nav a:hover {
            background: #fbaf0f;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s; }
          .header-box .head-menu .heading--menu nav a:link, .header-box .head-menu .heading--menu nav a:visited {
            text-decoration: none;
            color: #317ee2;
            padding: 2.1rem; }
  .header-box .register-menu {
    justify-content: end; }
    .header-box .register-menu a {
      background-color: red;
      justify-content: center;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-family: "Purista_Bold", sans-serif; }
      .header-box .register-menu a:hover {
        background: #fbaf0f;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s; }
      .header-box .register-menu a:link, .header-box .register-menu a:visited {
        text-decoration: none;
        color: #fff;
        padding: 2.2rem 3.5rem; }

/*----------------START SLIDE SIDE----------------*/
.slide-img img {
  width: 100%;
  height: auto; }

/*----------------START CONTENT ABOUT----------------*/
.content--main {
  position: relative;
  background-color: rgba(49, 126, 226, 0.1);
  width: 100%;
  height: 70vh; }
  .content--main .content-about {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    height: 60rem;
    margin: 0 auto; }
    .content--main .content-about .content-logo {
      flex-grow: 1;
      flex-shrink: 1; }
      .content--main .content-about .content-logo img {
        width: 20rem; }
    .content--main .content-about .description-about {
      width: 50%;
      flex-grow: 2; }
      .content--main .content-about .description-about .about-title {
        margin-top: 2rem; }
        .content--main .content-about .description-about .about-title h2 {
          font-size: 4rem;
          font-family: "Purista_Bold", sans-serif;
          color: #fff;
          text-align: center;
          text-transform: uppercase; }
        .content--main .content-about .description-about .about-title p {
          font-size: 3rem;
          font-family: "Purista", sans-serif;
          color: #fff; }
      .content--main .content-about .description-about .about-description p {
        font-size: 1.8rem;
        font-family: "Purista_light", sans-serif;
        color: #fff; }
